.switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 22px; 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px; 
  width: 17px;  
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #16d420;
}

input:focus + .slider {
  box-shadow: 0 0 1px #16d420;
}

input:checked + .slider:before {
  transform: translateX(18px); 
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px; 
}

.slider.round:before {
  border-radius: 50%;
}
