
.form-select.custom-select-dark {
  background-color: #000; 
  color: #ffd27a;          
  border-color: #5a5a5a;   
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffd54f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}


.form-select.custom-select-dark option {
  background-color: #212529; 
  color: #ffffff;           
}

.form-select.custom-select-dark:focus {
  background-color: #000;
  color: #ffd27a;
  border-color: #ffd27a; 
  box-shadow: 0 0 0 0.25rem rgba(255, 213, 79, 0.25); 
}

.form-select.custom-select-dark:disabled {
  background-color: #1a1a1a;
  color: #6c757d;           
  border-color: #444;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%236c757d' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.react-datepicker-wrapper input.form-control.custom-select-dark {
  background-color: #212529; 
  color: #ffd27a;           
  border: 1px solid #ffd27a; 
}


.react-datepicker-popper {
  z-index: 1050;
}

.react-datepicker {
  background-color: #1a1a1a; 
  border: 1px solid #ffd27a;
  border-radius: 0.375rem;
  color: #fff;
}

.react-datepicker__header {
  background-color: #212529;
  border-bottom: 1px solid #ffd27a;
}

.react-datepicker__current-month{
  color: #ffd27a;
}

.react-datepicker-time__header{
   background-color: #000; 
}
.react-datepicker__day-name {
  color: #ffd27a; 
  font-weight: bold;
}

.react-datepicker__day {
  color: #e0e0e0;
}

.react-datepicker__day:hover {
  background-color: #ffd27a20;
  color: #ffc757;
}

.react-datepicker__day--selected {
  background-color: #ffd27a;
  color: #000;
  font-weight: bold;
}

.react-datepicker__day--disabled {
  color: #555;
  text-decoration: line-through;
}


.react-datepicker__navigation-icon::before {
  border-color: #ffd27a;
}

.datepicker-wrapper {
  position: relative;
  width: 100%; 
}


.datepicker-icon {
  position: absolute;         
  top: 50%;                   
  right: 15px;                
  transform: translateY(-50%);
  color: #ffd27a;           
  font-size: 1rem;          
  

  pointer-events: none;
}