/* --- MovieCard --- */
.movie-card {
  background: #111;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.1);
  cursor: pointer;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 20px;
  height: 100%;
}

.movie-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 18px rgba(255, 215, 0, 0.3);
}

/* --- Container poster --- */
.movie-card img.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.poster-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;
  margin-bottom: 12px;
}

.poster-container:hover .poster {
  transform: scale(1.05);
}

/* --- Button Play --- */
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 210, 122, 0.2);
  border: 2px solid #ffd27a;
  color: #ffd27a;
  font-size: 28px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.poster-container:hover .play-btn {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* --- Button buy ticket --- */
.buy-btn {
  background: #ffd27a;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: -10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-btn:hover {
  background: rgba(255, 211, 122, 0.668);
}

/* --- movie info --- */
.movie-info {
  min-height: 70px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffd27a;
}

.movie-genre {
  color: #ccc;
  font-size: 0.9rem;

}

/* --- Trailer Modal --- */
.trailer-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.trailer-content {
  background: #000;
  border: 2px solid #00ff66;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  max-width: 900px;
}

.trailer-content iframe {
  width: 100%;
  height: 500px;
  border: none;
}
