.review-list-container {
  max-height: 600px;
  overflow-y: auto;
  padding-right: 10px; 
}

.review-list-container::-webkit-scrollbar {
  width: 8px;
}
.review-list-container::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 4px;
}
.review-list-container::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 4px;
  border: 2px solid #2c2c2c; 
}
.review-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.list-group-item.list-group-item-dark.bg-dark-subtle {
    background-color: #212529 !important; 
    border-color: #444 !important;
}

.form-label.text-light {
    color: #f8f9fa !important; 
}